@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bell Centennial', sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1074px;
  font-weight: bold;
}

.dnd-body {
  width: 803px;
  height: 1074px;
  background-color: #ffffff;
  overflow: hidden;
  padding: 50px;
}

.flexWholeCard {
  display: flex;
  flex-direction: column;
  height: 974px;
  width: 703px;
}

.upperPageContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.titleGroup {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.dnd-group-elements-1 {
  flex: 1;
}

.dnd-image-1 {
  width: 210px;
}

.titleFlexContainer h1 {
  font-family: 'Bungee', cursive;
  font-size: 3.333em;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 2px;
}


.titleFlexContainer p,
.CastingTextFlex,
.RangeFlex,
.descriptionText,
.FlexComponent {
  font-size: 28px;
  line-height: 1;
  font-weight: bold;
}

.titleFlexContainer p {
  color: #990099;
  font-weight: 550;
  font-style: italic;
}

.flexStatIcons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.DurationFlexAll,.CompFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

 .FlexRangeRitual {
  display: flex;
  flex-direction: row;
}

.CompFlex {
  gap: 2px;
}

.DurationIcon, .RitualIcon, .SomaticIcon, .VocalIcon, .ConcentrationIcon {
  width: 70px;
  height:70px;
}

.RangeIcon{
  width: 70px;
}

.RangeFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.descriptionText {
  line-height: 1;
  overflow-y: auto;
  flex: 1;
  margin-top: 15px;
  text-indent: 50px;
  text-align: justify;
  
}

.FlexFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.FlexComponent {
  display: flex;
  align-items: center;
}

.FlexComponent img {
  width: 70px;
  height: 70px;
  margin-right: 3px;
}

.flexClassIcons {
  display: flex;
}

.flexClassIcons img {
  width: 40px;
  height: 65px;
  margin-left: 2px;
}